In [2]:
import pandas as pd
import torch
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
%matplotlib inline
import pylab
pylab.rcParams['figure.figsize'] = (8.25, 6)

<h1>Thunderstorms in Texas with income</h1>

In [10]:
# load top 500 thunderstorms in texas from 1950 - 2018
data = pd.read_csv("texas_thunderstorm.csv", usecols=[1, 2, 3, 4, 6, 10, 11, 29, 30, 31, 32, 33])
data.info()

data = data.sample(frac=1)
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 12 columns):
CZ_NAME_STR            353 non-null object
BEGIN_LOCATION         353 non-null object
BEGIN_DATE             353 non-null object
BEGIN_TIME             353 non-null int64
MAGNITUDE              353 non-null float64
DAMAGE_PROPERTY_NUM    353 non-null int64
DAMAGE_CROPS_NUM       353 non-null int64
END_LOCATION           353 non-null object
BEGIN_LAT              353 non-null float64
BEGIN_LON              353 non-null float64
END_LAT                353 non-null float64
END_LON                353 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 33.2+ KB

,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,MAGNITUDE,DAMAGE_PROPERTY_NUM,DAMAGE_CROPS_NUM,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
251,ELLIS CO.,MILFORD,5/2/07,1745,61.0,250000,0,MILFORD,32.1300,-96.9500,32.1300,-96.9500
181,HALE CO.,BOONE,6/12/15,1713,70.0,500000,2000000,PLAINVIEW,34.1881,-101.8391,34.1278,-101.5755
225,WISE CO.,BRIDGEPORT MUNI ARPT,6/21/11,37,70.0,300000,0,BRIDGEPORT MUNI ARPT,33.1722,-97.8653,33.1722,-97.8653
67,JOHNSON CO.,LILLIAN,4/23/03,2020,96.0,4000000,0,VENUS,32.4800,-97.2000,32.4300,-97.1200
287,SAN PATRICIO CO.,ST PAUL,5/23/17,1840,61.0,250000,700000,TAFT,28.1293,-97.5686,27.9800,-97.3308
342,LIVE OAK CO.,OAKVILLE,2/23/16,311,61.0,200000,0,OAKVILLE,28.4757,-98.1289,28.4308,-98.0842
320,CAMERON CO.,HARLINGEN AIRPARK AR,5/16/08,300,75.0,200000,0,MONTE GRANDE,26.2189,-97.6798,26.2228,-97.5061
77,SAN PATRICIO CO.,MATHIS,6/5/07,800,50.0,2500000,0,MATHIS,28.1000,-97.8300,28.1000,-97.8300
286,BAILEY CO.,MULESHOE WARREN ARPT,6/9/16,1750,52.0,250000,0,MULESHOE WARREN ARPT,34.3005,-102.7225,34.3005,-102.7225
130,WICHITA CO.,BURKBURNETT,5/10/06,410,65.0,750000,0,BURKBURNETT,34.1000,-98.5700,34.1000,-98.5700
50,RANDALL CO.,CANYON,5/28/13,1618,52.0,10000000,0,CANYON,34.9800,-101.9400,34.9800,-101.9400
28,ELLIS CO.,Waxahachie,11/4/94,2157,52.0,5000000,0,,32.2600,-96.8300,32.2600,-96.8300
179,NUECES CO.,CORPUS CHRISTI,4/14/15,552,55.0,500000,0,LAGUNA VISTA,27.7737,-97.4084,27.6355,-97.2956
319,WILLIAMSON CO.,NORMAN CROSSING,5/14/08,2110,70.0,200000,0,NORMAN CROSSING,30.4851,-97.5315,30.4851,-97.5315
196,ARANSAS CO.,ROCKPORT,1/9/11,429,78.0,400000,0,ROCKPORT,28.0298,-97.0877,28.0290,-97.0505
15,MEDINA CO.,Castroville,4/15/94,1630,65.0,500000,50000,,29.2988,-99.0129,29.2988,-99.0129
173,SAN AUGUSTINE CO.,SAN AUGUSTINE,6/21/11,1710,70.0,500000,0,SAN AUGUSTINE,31.5200,-94.1200,31.5200,-94.1200
276,BURLESON CO.,SNOOK,2/3/12,1845,70.0,250000,0,SNOOK,30.4974,-96.4462,30.4974,-96.4462
102,JONES CO.,HAMLIN,6/20/98,1720,70.0,1000000,0,HAMLIN,32.8800,-100.1300,32.8800,-100.1300
39,TRAVIS CO.,AUSTIN,5/14/08,2330,70.0,50000000,0,AUSTIN,30.2700,-97.7400,30.2700,-97.7400
104,BELL CO.,HEIDENHEIMER,4/20/06,1905,74.0,1000000,0,ROGERS,31.0200,-97.3000,30.9300,-97.2500
246,COLLIN CO.,FARMERSVILLE,3/4/04,1541,61.0,250000,0,FARMERSVILLE,33.1700,-96.3700,33.1800,-96.3500
106,LLANO CO.,KINGSLAND,10/18/06,1635,70.0,1000000,0,KINGSLAND,30.6700,-98.4000,30.6500,-98.4200
8,LIPSCOMB CO.,Booker,7/3/94,2345,60.0,500000,0,,36.2464,-100.3498,36.2464,-100.3498
180,KLEBERG CO.,RIVIERA,5/12/15,152,70.0,500000,0,RIVIERA BEACH,27.2994,-97.8187,27.3245,-97.6873
221,DICKENS CO.,SPUR,7/11/06,1924,83.0,300000,0,SPUR,33.4800,-100.8500,33.4800,-100.8500
338,HOOD CO.,ACTON,5/15/13,1914,74.0,200000,0,ACTON,32.4513,-97.7153,32.4513,-97.7153
148,OCHILTREE CO.,PERRYTON,7/22/96,1545,61.0,500000,0,PERRYTON,36.4000,-100.8000,36.4000,-100.8000
167,FISHER CO.,ROBY,6/2/09,1630,60.0,500000,0,ROBY,32.7500,-100.3800,32.7500,-100.3800
26,LUBBOCK CO.,Lubbock,3/29/93,1329,67.0,500000,0,,33.6750,-101.7980,33.6750,-101.7980
...,...,...,...,...,...,...,...,...,...,...,...,...
299,MOORE CO.,DUMAS,8/9/02,2227,61.0,200000,0,DUMAS,35.8500,-102.0300,35.8500,-101.9700
325,GREGG CO.,GREGGTON,10/9/09,450,55.0,200000,0,GREGGTON,32.5200,-94.7600,32.5200,-94.7600
339,NACOGDOCHES CO.,NACOGDOCHES,3/28/14,1800,57.0,200000,0,NACOGDOCHES,31.6100,-94.6500,31.6100,-94.6500
124,TAYLOR CO.,(ABI)ABILENE MUNI AR,8/10/97,1807,58.0,800000,0,(ABI)ABILENE MUNI AR,32.4200,-99.6800,32.4200,-99.6800
271,FRANKLIN CO.,MACON,4/25/11,1815,60.0,250000,0,MACON,33.0700,-95.1800,33.0700,-95.1800
237,YOAKUM CO.,DENVER CITY,6/14/97,1500,70.0,250000,0,DENVER CITY,32.9700,-102.8500,32.9700,-102.8500
213,MENARD CO.,FT MCKAVETT,5/31/97,100,87.0,300000,0,FT MCKAVETT,30.9000,-100.1000,30.8300,-100.1000
274,CAMP CO.,PITTSBURG,6/28/11,1845,57.0,250000,0,PITTSBURG,33.0000,-94.9700,33.0000,-94.9700
168,BAILEY CO.,NEEDMORE,7/17/09,1845,70.0,500000,500000,ENOCHS,34.0300,-102.7824,33.8700,-102.7700
341,TERRY CO.,TOKIO,8/21/15,2009,65.0,200000,0,TOKIO,33.1817,-102.6115,33.1512,-102.6117
195,ANDERSON CO.,PALESTINE,10/23/10,1715,69.0,400000,0,PALESTINE,31.7626,-95.6316,31.7626,-95.6316
267,RUSK CO.,HENDERSON,10/9/09,545,52.0,250000,0,HENDERSON,32.1500,-94.8000,32.1500,-94.8000
21,DALLAS CO.,Mesquite,10/17/93,2340,70.0,500000,0,,32.8000,-96.8351,32.8000,-96.8351
352,CASTRO CO.,HART,10/10/07,1830,61.0,180000,500000,HART,34.4234,-102.1200,34.3800,-102.1200
93,COCHRAN CO.,MORTON,7/17/09,1915,81.0,1500000,1000000,WHITEFACE,33.7490,-102.7700,33.3974,-102.6200
95,KLEBERG CO.,(NQI)NAS KINGSVILLE,5/31/16,1730,75.0,1500000,0,KINGSVILLE,27.4906,-97.8343,27.5141,-97.8642
6,PARMER CO.,Friona,6/2/95,1740,75.0,500000,0,,34.4604,-102.7135,34.4604,-102.7135
58,GAINES CO.,SEMINOLE,6/26/07,2121,85.0,5000000,0,SEMINOLE,32.7200,-102.6500,32.7200,-102.6500
256,HENDERSON CO.,MALAKOFF,10/15/07,915,50.0,250000,0,MALAKOFF,32.1700,-96.0200,32.1700,-96.0200
234,TAYLOR CO.,(DYS)DYESS AFB ABILE,5/5/96,1925,59.0,250000,0,(DYS)DYESS AFB ABILE,32.4200,-99.8500,32.4200,-99.8500
252,HOCKLEY CO.,LEVELLAND,6/1/07,2023,64.0,250000,0,ROPESVILLE,33.5800,-102.4394,33.5001,-102.1898
143,FANNIN CO.,RANDOLPH,6/13/12,1850,83.0,600000,0,BAILEY,33.5063,-96.2604,33.3713,-96.1788
162,CALDWELL CO.,MAXWELL,6/3/07,2037,65.0,500000,0,LOCKHART,29.8800,-97.7800,29.8800,-97.6700
54,HAYS CO.,SAN MARCOS,6/2/03,1545,60.0,7000000,0,SAN MARCOS,29.9300,-97.9300,29.8800,-97.8800
0,BELL CO.,Belton,6/27/95,1947,69.0,200000,0,,31.1344,-97.5247,31.1344,-97.5247
152,RANDALL CO.,AMARILLO,10/1/02,2050,61.0,500000,0,AMARILLO,35.1500,-101.7500,35.1800,-101.7300
5,ECTOR CO.,Odessa,11/19/94,2006,65.0,500000,0,,31.8246,-102.5298,31.8246,-102.5298
48,DALLAS CO.,IRVING,6/6/96,2205,71.0,10000000,0,IRVING,32.8200,-96.9200,32.8200,-96.9200
116,TRAVIS CO.,AUSTIN LAKEWAY ARPT,4/2/17,819,70.0,1000000,0,AUSTIN LAKEWAY ARPT,30.3794,-97.9928,30.3794,-97.9928
277,LIVE OAK CO.,GEORGE WEST,3/20/12,227,70.0,250000,0,GEORGE WEST,28.3414,-98.1204,28.3293,-98.1057

In [8]:
# The outcomes
thunderstorm_outcomes = data.iloc[:, [5]]

list(thunderstorm_outcomes)

['DAMAGE_PROPERTY_NUM']

In [9]:
# The predictors
thunderstorm_predictors = data.drop(['DAMAGE_PROPERTY_NUM',
                                     'BEGIN_LOCATION',
                                     'END_LOCATION',
                                     'CZ_NAME_STR',
                                     'BEGIN_DATE'], axis=1)

# NOTE: for right now crops damage is included, but we may want to see both with and without including this

list(thunderstorm_predictors)

['BEGIN_TIME',
 'MAGNITUDE',
 'DAMAGE_CROPS_NUM',
 'BEGIN_LAT',
 'BEGIN_LON',
 'END_LAT',
 'END_LON']

In [4]:
texas_income_data = pd.read_csv("MACHINE_LEARNING_DATA/county_year/texas_median_county_income_all.csv")
texas_income_data.info()
texas_income_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 2 columns):
name        3302 non-null object
estimate    3301 non-null float64
dtypes: float64(1), object(1)
memory usage: 51.7+ KB

                    name  estimate
0       ANDERSON CO.1990   27752.0
1        ANDREWS CO.1990   31106.0
2       ANGELINA CO.1990   31157.0
3        ARANSAS CO.1990   29087.0
4         ARCHER CO.1990   31425.0
5      ARMSTRONG CO.1990   29270.0
6       ATASCOSA CO.1990   25746.0
7         AUSTIN CO.1990   31527.0
8         BAILEY CO.1990   27861.0
9        BANDERA CO.1990   31641.0
10       BASTROP CO.1990   28848.0
11        BAYLOR CO.1990   25084.0
12           BEE CO.1990   24406.0
13          BELL CO.1990   29690.0
14         BEXAR CO.1990   33648.0
15        BLANCO CO.1990   31175.0
16        BORDEN CO.1990   46293.0
17        BOSQUE CO.1990   27695.0
18         BOWIE CO.1990   30604.0
19      BRAZORIA CO.1990   39362.0
20        BRAZOS CO.1990   29765.0
21      BREWSTER CO.1990   27036.0
22       BRISCOE CO.1990   25104.0
23        BROOKS CO.1990   20335.0
24         BROWN CO.1990   25340.0
25      BURLESON CO.1990   24674.0
26        BURNET CO.1990   28799.0
27      CALDWELL CO.1990   26928.0
28       CALHOUN CO.1990   29171.0
29      CALLAHAN CO.1990   26639.0
...                  ...       ...
3272       TITUS CO.2019   46980.0
3273   TOM GREEN CO.2019   49662.0
3274      TRAVIS CO.2019   68350.0
3275     TRINITY CO.2019   37398.0
3276       TYLER CO.2019   44396.0
3277      UPSHUR CO.2019   48796.0
3278       UPTON CO.2019   52750.0
3279      UVALDE CO.2019   40781.0
3280   VAL VERDE CO.2019   44609.0
3281   VAN ZANDT CO.2019   50061.0
3282    VICTORIA CO.2019   55740.0
3283      WALKER CO.2019   41456.0
3284      WALLER CO.2019   53506.0
3285        WARD CO.2019   63333.0
3286  WASHINGTON CO.2019   55793.0
3287        WEBB CO.2019   40442.0
3288     WHARTON CO.2019   50145.0
3289     WHEELER CO.2019   50910.0
3290     WICHITA CO.2019   45776.0
3291   WILBARGER CO.2019   43913.0
3292     WILLACY CO.2019   29104.0
3293  WILLIAMSON CO.2019   79123.0
3294      WILSON CO.2019   71942.0
3295     WINKLER CO.2019   55000.0
3296        WISE CO.2019   59081.0
3297        WOOD CO.2019   48038.0
3298      YOAKUM CO.2019   62500.0
3299       YOUNG CO.2019   46351.0
3300      ZAPATA CO.2019   34550.0
3301      ZAVALA CO.2019   25988.0

[3302 rows x 2 columns]

In [18]:
# Add column to input features
# 1990, 2000, 2009 forward 
def parse_date(year):
    if int(year) < 95:
        return '1990'
    elif int(year) >= 95 or int(year) < 5:
        return '2000'
    elif int(year) >= 5 and int(year) < 9:
        return '2009'
    elif int(year) >= 9:
        return '20' + year
    
thunderstorm_predictors['MEAN_INCOME'] = 100
years = [date.split('/')[-1] for date in data['BEGIN_DATE']]
years = [parse_date(year) for year in years]
estimates = []
for i in range(len(thunderstorm_predictors)):
    keyword = data['CZ_NAME_STR'][i] + years[i]
    estimate = texas_income_data[texas_income_data['name'] == keyword].values[0][1]
    estimates.append(estimate)
thunderstorm_predictors['MEAN_INCOME'] = estimates
thunderstorm_predictors

,BEGIN_TIME,MAGNITUDE,DAMAGE_CROPS_NUM,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,MEAN_INCOME
112,2055,70.0,100000,27.8312,-97.7279,27.8258,-97.3890,29690.0
203,35,75.0,0,32.3311,-96.1436,32.3311,-96.1436,29690.0
206,2225,66.0,10000000,34.5411,-101.7375,34.5411,-101.7375,29690.0
54,1545,60.0,0,29.9300,-97.9300,29.8800,-97.8800,30532.0
0,1947,69.0,0,31.1344,-97.5247,31.1344,-97.5247,31840.0
150,2315,52.0,0,30.7300,-99.2200,30.7300,-99.2200,30413.0
164,1900,61.0,0,35.2000,-101.8200,35.2000,-101.8200,27110.0
102,1720,70.0,0,32.8800,-100.1300,32.8800,-100.1300,29629.0
290,1903,65.0,0,31.8500,-102.3700,31.8500,-102.3700,30356.0
213,100,87.0,0,30.9000,-100.1000,30.8300,-100.1000,25592.0
167,1630,60.0,0,32.7500,-100.3800,32.7500,-100.3800,32332.0
307,1800,70.0,0,29.4000,-98.3500,29.3700,-98.3000,39571.0
205,2200,61.0,0,33.5411,-101.9392,33.7204,-101.7059,25340.0
122,1803,90.0,0,33.0300,-94.7500,33.0300,-94.7500,39571.0
286,1750,52.0,0,34.3005,-102.7225,34.3005,-102.7225,41980.0
217,1530,61.0,0,32.6000,-96.4300,32.7300,-96.2800,29091.0
177,1620,52.0,0,35.1800,-101.6000,35.1800,-101.6000,31641.0
319,2110,70.0,0,30.4851,-97.5315,30.4851,-97.5315,33648.0
109,1729,56.0,0,33.1500,-97.0700,33.1200,-97.0300,51184.0
170,729,50.0,0,27.4200,-97.8200,27.4200,-97.8200,40077.0
187,1432,45.0,0,26.0761,-97.5003,26.2300,-97.6500,40077.0
127,1600,70.0,0,32.4700,-96.0000,32.4985,-95.6082,42432.0
180,152,70.0,0,27.2994,-97.8187,27.3245,-97.6873,25993.0
119,1755,56.0,0,31.8991,-102.3439,31.8991,-102.3439,36413.0
332,1911,65.0,0,32.8401,-97.2640,32.8430,-97.2263,39408.0
128,1315,74.0,0,33.9000,-98.5000,33.9000,-98.5000,40077.0
149,2139,52.0,0,30.8500,-100.6200,30.8500,-100.6200,32401.0
257,2025,60.0,0,28.9217,-98.5498,28.9217,-98.5498,37996.0
97,1822,70.0,0,33.6500,-97.3800,33.6500,-97.3800,35938.0
99,1615,87.0,0,29.5500,-104.3500,29.5500,-104.3500,40077.0
...,...,...,...,...,...,...,...,...
181,1713,70.0,2000000,34.1881,-101.8391,34.1278,-101.5755,32141.0
107,2350,87.0,0,32.9600,-95.2900,32.9600,-95.2900,32141.0
287,1840,61.0,700000,28.1293,-97.5686,27.9800,-97.3308,32282.0
59,1430,61.0,0,32.9456,-96.9460,32.9456,-96.9460,44053.0
328,1653,71.0,0,30.9200,-102.9200,30.9200,-102.9200,27166.0
53,1450,80.0,0,31.9300,-94.2500,31.9300,-94.2500,36718.0
295,1535,65.0,0,32.5300,-94.3700,32.5300,-94.3700,72457.0
296,1800,78.0,0,33.3700,-98.7700,33.3700,-98.7700,26250.0
118,1754,87.0,0,29.7594,-96.1505,29.7645,-96.1918,31319.0
280,2207,70.0,0,28.1669,-97.0174,28.1744,-96.9983,40077.0
223,2300,65.0,250000,31.6636,-98.4162,31.7656,-97.8511,21797.0
214,1800,70.0,0,34.8500,-100.2200,34.8500,-100.2200,23707.0
105,251,65.0,0,32.5300,-95.8700,32.5300,-95.8700,31667.0
212,343,56.0,0,31.3500,-100.5000,31.4700,-100.4300,32401.0
166,1530,65.0,0,33.2421,-95.9388,33.2568,-95.8719,31760.0
52,2111,83.0,500000,26.2385,-98.3888,26.0698,-98.1864,38626.0
13,1704,60.0,0,34.9000,-101.7980,34.9000,-101.7980,40279.0
135,314,61.0,0,27.9926,-97.9754,27.9483,-97.9205,36828.0
237,1500,70.0,0,32.9700,-102.8500,32.9700,-102.8500,32141.0
221,1924,83.0,0,33.4800,-100.8500,33.4800,-100.8500,45933.0
204,1857,78.0,0,33.6200,-100.3300,33.6200,-100.3300,32401.0
344,1840,57.0,0,31.3032,-95.4408,31.3032,-95.4408,26946.0
236,1730,60.0,0,31.6000,-99.4300,31.6000,-99.4300,33648.0
45,1250,117.0,3750000,30.7000,-95.0700,30.9200,-94.7300,29494.0
268,2228,78.0,0,27.6893,-97.2582,27.6893,-97.2582,42938.0
224,23,70.0,0,32.4160,-97.2145,32.4160,-97.2145,41391.0
184,1635,56.0,50000,26.4576,-98.0624,26.3013,-98.0729,28725.0
264,1720,66.0,0,33.2570,-100.2830,33.1307,-100.1706,43307.0
145,100,75.0,0,35.2300,-100.6000,35.2300,-100.6000,38474.0
352,1830,61.0,500000,34.4234,-102.1200,34.3800,-102.1200,23707.0